<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("SachOnline", "Index", "SachOnline", new { area = "" }, new { @class = "navbar-brand" })
            </div>


            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between navbar-right">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Trang Chủ", "Index", "SachOnline", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Sách Theo Chủ Đề", "SachTheoChuDe", "SachOnline", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Sách Theo Nhà Xuất Bản", "SachTheoNhaXuatBan", "SachOnline", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Đăng Kí", "DangKy", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Đăng Nhập", "DangNhap", "User", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
